<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<head>
	{% load static %}
  	<title>moodly.</title>

  	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>

<body>
	
	<img src="{% static "img/how-are-you-feeling1.png" %}" class="center">

	<br><br>
  	<br>

  	<!--<img src="{% static "img/background.gif" %}" alt="My image">-->

  	{% block content %} {% endblock %}

  	<br><br>
  	<br><br>

  	<center>
  	<audio controls>
         <source src = "{% static "player.wav" %}" id="center" type = "audio/mpeg">
    </audio>
	</center>

</body>
</html>