{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<form action = "" method = "get">
    <select name="vibe" id="vibe">
    	<option value="vibe1">Vibe 1</option>
    	<option value="vibe2">Vibe 2</option>
    	<option value="vibe3">Vibe 3</option>
    	<option value="vibe4">Vibe 4</option>
  	</select>
  	<select name="mood" id="mood">
    	<option value="mood1">mood 1</option>
    	<option value="mood2">mood 2</option>
    	<option value="mood3">mood 3</option>
    	<option value="mood4">mood 4</option>
  	</select>
  	<select name="spice" id="spice">
    	<option value="spice1">spice 1</option>
    	<option value="spice2">spice 2</option>
    	<option value="spice3">spice 3</option>
    	<option value="spice4">spice 4</option>
  	</select>
    <input type="submit" value="Play!">
</form>

{% endblock %}