{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
<style>
	.box .select{
  width: 120%;
}

.box .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
</style>
<center>
<form action = "" method = "get" id="center" name="box">
    <select class="box" name="vibe" id="center">
    	<option value="summer-breeze">summer breeze</option>
    	<option value="ihop-commercial">ihop commercial</option>
    	<option value="smokey-lounge">smokey lounge</option>
    	<option value="sunglasses">sunglasses and a mustache</option>
    	<option value="ancient-ritual">ancient ritual</option>
    	<option value="demon-palace">demon palace !!DO NOT TOUCH!!</option>
    	<option value="ice-cream">eating ice cream in the shower</option>
  	</select>
  	<select class="box" name="mood" id="center">
    	<option value="porcelain">porcelain</option>
    	<option value="beige">beige</option>
    	<option value="marigold">marigold</option>
    	<option value="cherry">cherry</option>
    	<option value="mahogany">mahogany</option>
    	<option value="bubblegum">bubblegum</option>
    	<option value="sapphire">sapphire</option>
    	<option value="chartreuse">chartreuse</option>
    	<option value="onyx">onyx</option>
  	</select>
  	<select class="box" name="spice" id="center">
    	<option value="chili-powder">chili powder</option>
    	<option value="coriander">coriander</option>
    	<option value="saffron">saffron</option>
    	<option value="ginger">ginger</option>
    	<option value="paprika">paprika</option>
    	<option value="oregano">oregano</option>
    	<option value="salt">salt</option>
    	<option value="MSG">MSG</option>
    	<option value="garam-masala">gram masala</option>
    	<option value="pepper">pepper</option>
    	<option value="sugar">sugar</option>
  	</select>
  	<br>
  	<br>
    <input type="submit" value="let me play you something">
</form>
</center>

{% endblock %}